$width-container: 480px;
$width-container-signup: 480px;
$width-header-menu: 200px;

$padding-aside-container: 16px;
$padding-top-container: 48px;

$height-header: 58px;
$height-channel-input-area: 42px;

$color-950: #0a0a0a;
$color-900: #171717;
$color-800: #262626;
$color-700: #404040;
$color-600: #525252;
$color-500: #737373;
$color-400: #a3a3a3;
$color-300: #d4d4d4;
$color-200: #e5e5e5;
$color-100: #f5f5f5;
$color-50: #fafafa;

$color-bg: $color-950;
$color-primary: $color-900;
$color-accent: $color-800;

$color-invalid: #b91c1c;
$color-valid: #166534;

@mixin media-xs {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin media-sm {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin media-md {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin media-lg {
  @media (min-width: 720px) {
    @content;
  }
}
