@use "variables" as vars;

.channel-header {
  height: vars.$height-header;
  border-bottom: 0.5px solid vars.$color-800;
  & > .container {
    width: vars.$width-container;
    & > .left {
    }
    & > .right {
    }
  }
}

@include vars.media-xs {
  .container {
    padding: 0 vars.$padding-aside-container;
  }
}

@include vars.media-sm {
}

@include vars.media-md {
}

@include vars.media-lg {
}
