@use "variables" as vars;

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.channel-header {
  height: vars.$height-header;

  & > .container {
    border-top: 0.5px solid vars.$color-800;
    border-bottom: 0.5px solid vars.$color-800;
    width: 100%;
    max-width: vars.$width-container;
    & > .left {
    }
    & > .center {
      & > .name {
        color: vars.$color-50;
        & > .entire-title {
          box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
            rgba(0, 0, 0, 0.24) 0px 1px 2px;
          opacity: 0;
          transform: translateY(10px);
          opacity: 0;
          animation: fadeIn 0.15s ease-out forwards;
        }
      }
    }
    & > .right {
    }
  }
}

@include vars.media-xs {
  .container {
    padding: 0 vars.$padding-aside-container;
  }
}

@include vars.media-sm {
  .container {
    border-left: 0.5px solid vars.$color-800;
    border-right: 0.5px solid vars.$color-800;
    padding: 0 vars.$padding-aside-container;
  }
}

@include vars.media-md {
  .container {
    padding: 0 vars.$padding-aside-container;
  }
}

@include vars.media-lg {
  .container {
    padding: 0 vars.$padding-aside-container;
  }
}
