@use "variables" as vars;

.channel-content {
  & > .container {
    width: vars.$width-container;
    box-sizing: border-box;

    & > .content {
      position: relative;
      height: calc(
        100vh - vars.$height-channel-input-area - vars.$height-header
      );
      height: calc(
        100dvh - vars.$height-channel-input-area - vars.$height-header
      );

      & > .chat-menu {
        position: absolute;
        background-color: vars.$color-900;
        height: 100%;
        width: vars.$width-channel-menu;
        z-index: 32;
        right: 0;
      }

      & > .chat-list {
        padding: 0 vars.$padding-aside-container;
        overflow-x: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    & > .input-area {
      padding: 0 vars.$padding-aside-container;
      height: vars.$height-channel-input-area;
      border-top: 0.5px solid vars.$color-800;
      box-sizing: border-box;
      & > textarea {
        background-color: vars.$color-900;
        color: vars.$color-100;
        overflow-x: hidden;
        overflow-y: hidden;
        &:focus {
          outline: none;
        }
      }
      & .sticker-btn {
      }
      & .submit-btn {
        background-color: vars.$color-50;
        &:hover {
          background-color: vars.$color-300;
        }
        & svg {
          color: vars.$color-950;
        }
      }
    }
  }
}

@include vars.media-xs {
}

@include vars.media-sm {
  .channel-content {
    & > .container {
      border-left: 0.5px solid vars.$color-800;
      border-right: 0.5px solid vars.$color-800;
    }
  }
}

@include vars.media-md {
  .channel-content {
    & > .container {
      border-left: 0.5px solid vars.$color-800;
      border-right: 0.5px solid vars.$color-800;
    }
  }
}

@include vars.media-lg {
  .channel-content {
    & > .container {
      border-left: 0.5px solid vars.$color-800;
      border-right: 0.5px solid vars.$color-800;
    }
  }
}
