@use "variables" as vars;

.channel-forbidden {
  height: 100vh;
  & > .container {
    height: 100%;
    width: vars.$width-container;
    & > h1 {
      color: vars.$color-200;
    }
  }
}

@include vars.media-xs {
  .container {
    padding-left: vars.$padding-aside-container;
    padding-right: vars.$padding-aside-container;
  }
}

@include vars.media-sm {
  .container {
    padding-left: vars.$padding-aside-container;
    padding-right: vars.$padding-aside-container;
  }
}

@include vars.media-md {
  .container {
    padding-left: vars.$padding-aside-container;
    padding-right: vars.$padding-aside-container;
  }
}

@include vars.media-lg {
}
