@use "variables" as vars;

.channel-header {
  height: vars.$height-header;

  & > .container {
    border-top: 0.5px solid vars.$color-800;
    border-bottom: 0.5px solid vars.$color-800;
    width: vars.$width-container;
    & > .left {
    }
    & > .right {
    }
  }
}

@include vars.media-xs {
  .container {
    border-left: 0.5px solid vars.$color-800;
    border-right: 0.5px solid vars.$color-800;
    padding: 0 vars.$padding-aside-container;
  }
}

@include vars.media-sm {
  .container {
    border-left: 0.5px solid vars.$color-800;
    border-right: 0.5px solid vars.$color-800;
    padding: 0 vars.$padding-aside-container;
  }
}

@include vars.media-md {
  .container {
    padding: 0 vars.$padding-aside-container;
  }
}

@include vars.media-lg {
  .container {
    padding: 0 vars.$padding-aside-container;
  }
}
