@use "variables" as vars;

.channel-content {
  & > .container {
    width: vars.$width-container;
    box-sizing: border-box;

    & > .content {
      padding: 0 vars.$padding-aside-container;
      height: calc(
        100vh - vars.$height-channel-input-area - vars.$height-header
      );
      height: calc(
        100dvh - vars.$height-channel-input-area - vars.$height-header
      );
    }

    & > .input-area {
      padding: 0 vars.$padding-aside-container;
      height: vars.$height-channel-input-area;
      border-top: 0.5px solid vars.$color-800;
      box-sizing: border-box;
      & > input {
        background-color: vars.$color-950;
        color: vars.$color-100;
      }
    }
  }
}

@include vars.media-xs {
}

@include vars.media-sm {
  .channel-content {
    & > .container {
      border-left: 0.5px solid vars.$color-800;
      border-right: 0.5px solid vars.$color-800;
    }
  }
}

@include vars.media-md {
  .channel-content {
    & > .container {
      border-left: 0.5px solid vars.$color-800;
      border-right: 0.5px solid vars.$color-800;
    }
  }
}

@include vars.media-lg {
  .channel-content {
    & > .container {
      border-left: 0.5px solid vars.$color-800;
      border-right: 0.5px solid vars.$color-800;
    }
  }
}
