@use "variables" as vars;

.header {
  height: vars.$height-header;
  &.border {
    border-bottom: 0.5px solid vars.$color-800;
  }

  & .right.logo-center {
    display: none;
  }
}

.header > .container {
  width: vars.$width-container;
}

.menu-icon {
}

@include vars.media-xs {
  .container {
    padding: 0 vars.$padding-aside-container;
  }
}

@include vars.media-sm {
  .container {
    padding: 0 vars.$padding-aside-container;
  }
}

@include vars.media-md {
  .container {
    padding: 0 vars.$padding-aside-container;
  }
}

@include vars.media-lg {
}
