@use "variables" as vars;

.index {
  min-height: 100vh;
}

.container {
  width: vars.$width-container;
}

@include vars.media-xs {
  .container {
    padding: 0 vars.$padding-aside-container;
  }
}

@include vars.media-sm {
  .container {
    padding: 0 vars.$padding-aside-container;
  }
}

@include vars.media-md {
  .container {
    padding: 0 vars.$padding-aside-container;
  }
}

@include vars.media-lg {
}
