@use "variables" as vars;

.index {
  margin-top: vars.$height-header;
  min-height: 100vh;
}

.container {
  width: vars.$width-container;
  padding-top: vars.$padding-top-container;
}

.test-style {
  background-color: darkcyan;
}

@include vars.media-xs {
  .container {
    padding-left: vars.$padding-aside-container;
    padding-right: vars.$padding-aside-container;
  }
}

@include vars.media-sm {
  .container {
    padding-left: vars.$padding-aside-container;
    padding-right: vars.$padding-aside-container;
  }
}

@include vars.media-md {
  .container {
    padding-left: vars.$padding-aside-container;
    padding-right: vars.$padding-aside-container;
  }
}

@include vars.media-lg {
}
