@use "variables" as vars;

.signup {
}

.container {
  width: vars.$width-container;
}

@include vars.media-xs {
  .container {
    padding-left: vars.$padding-aside-container;
    padding-right: vars.$padding-aside-container;
  }
}

@include vars.media-sm {
  .container {
    padding-left: vars.$padding-aside-container;
    padding-right: vars.$padding-aside-container;
  }
}

@include vars.media-md {
  .container {
    padding-left: vars.$padding-aside-container;
    padding-right: vars.$padding-aside-container;
  }
}

@include vars.media-lg {
}
