@use "variables" as vars;

.signup {
  .invalid {
    & input {
      border-color: vars.$color-invalid;
      &:focus-visible {
        --tw-ring-color: vars.$color-invalid;
        --tw-ring-opacity: 0.75;
      }
    }
    svg {
      fill: vars.$color-invalid;
    }
  }

  .valid {
    & input {
      border-color: vars.$color-valid;
      &:focus-visible {
        --tw-ring-color: vars.$color-valid;
        --tw-ring-opacity: 0.75;
      }
    }
    svg {
      fill: vars.$color-valid;
    }
  }
}

.container {
  width: 100%;
  max-width: vars.$width-container-signup;
  height: calc(100dvh - var(--header-height));
}

.container {
  & h1 {
    color: vars.$color-50;
  }
  & form label {
    color: vars.$color-300;
  }
  & form input {
    color: vars.$color-50 !important;
    border-color: vars.$color-700;
    &::selection {
      background-color: vars.$color-50;
      color: vars.$color-950;
    }
  }
  & form input:-webkit-autofill,
  & form input:-webkit-autofill:hover,
  & form input:-webkit-autofill:focus,
  & form input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: vars.$color-50;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@include vars.media-xs {
  .container {
    padding-left: vars.$padding-aside-container;
    padding-right: vars.$padding-aside-container;
  }
}

@include vars.media-sm {
  .container {
    padding-left: vars.$padding-aside-container;
    padding-right: vars.$padding-aside-container;
  }
}

@include vars.media-md {
  .container {
    padding-left: vars.$padding-aside-container;
    padding-right: vars.$padding-aside-container;
  }
}

@include vars.media-lg {
}
